{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="container__commons"></div>
        <h1>Доставка</h1>
        <div class="container__static" style="margin-bottom: 40px;">
            <p>Все статуэтки находятся в Москве</p>
            <p>Самовывоз (10 мин от метро Семёновская) – БЕСПЛАТНО</p>
            <p>По Москве и Московской обл доставка курьером Достависты или Яндекс доставки - от 200 руб в зависимости от расстояния.</p>
            <p>По России – Почтой России, Боксберри, СДЭК строго по их тарифам. К примеру, доставка из Москвы в Санкт-Петербург двух статуэток (весом до 1 кг) обойдется в 288 руб. </p>
            <p>Упаковка (коробка, пакет, специальные упаковочные решения для хрупких вещей) предоставляется БЕСПЛАТНО.</p>
            <p>По миру доставка Почтой России, DHL, СДЭК по их тарифам.</p>
            <a href="{% url 'contact' %}" style="font-size: 20px;">ОФОРМИТЬ / РАССЧИТАТЬ ДОСТАВКУ</a>
        </div>
    </div>
{% endblock content %}
