{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="container__commons"></div>
            <h1>Как купить</h1>
        <div class="container__static">
            <p>Как сделать заказ/бронь на понравившуюся вещь?</p>
            <ol>
                <li>
                    <p>📨 Напишите нам сразу в Ватсап или Директ нашего инстаграмма.</p>
                </li>
                <li>
                    <p>💳 Сделайте предоплату на карту Сбера. </p>
                    <p>Если опасаетесь – смотрите отзывы, наш профиль на авито, ярмарке мастеров. </p>
                    <p>Если все равно страшно 🙄 – можете забрать в нашем пункте выдачи 🚆м.Семеновская или 🚆м.Курская, получить с доставкой по Москве и оплатить курьеру🏃🏼, можем послать в другой город ✈️ наложенным платежом.</p>
                </li>
                <li><p>Наслаждайтесь прекрасным изделием 💗.</p></li>
            </ol>
        </div>
    </div>
{% endblock content %}