{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="container__commons"></div>
        <h1>Бронь и %</h1>
        <div class="container__static">
            <p>Бронирование до конца дня – БЕСПЛАТНО</p>
            <p>Бронирование на срок до одной недели – по предоплате 20% стоимости.</p>
            <p>Бронирование на срок от одной недели до одного месяца – по 100% предоплате. Сумма внесенного аванса – не возвращается, если покупатель передумал или не смог выкупить статуэтку до конца срока бронирования. Дольше одного месяца оплаченные статуэтки не хранятся.</p>
            <p>Скидка при единовременной покупке от двух статуэток составляет 5% от стоимости всего заказа. При покупке от трех и более статуэток – скидка 5% и бесплатная доставка почтой по России. Скидка предоставляется только при полной оплате всего заказа, без бронирования. Скидка на заказы по частичной предоплате не распространяется.</p>
        </div>
    </div>
{% endblock content %}