{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="container__commons"></div>
        <h1>Отзывы</h1>
        <div class="reviewsList">
            <img src="{% static 'img/r/r7.jpg' %}" alt="">
            <img src="{% static 'img/r/r8.jpg' %}" alt="">
            <img src="{% static 'img/r/r9.jpg' %}" alt="">
            <img src="{% static 'img/r/r10.jpg' %}" alt="">
            <img src="{% static 'img/r/r11.jpg' %}" alt="">
            <img src="{% static 'img/r/r12.jpg' %}" alt="">
            <img src="{% static 'img/r/r13.jpg' %}" alt="">
            <img src="{% static 'img/r/r14.jpg' %}" alt="">
            <img src="{% static 'img/r/r15.jpg' %}" alt="">
            <img src="{% static 'img/r/r16.jpg' %}" alt="">
            <img src="{% static 'img/r/r17.jpg' %}" alt="">
            <img src="{% static 'img/r/r18.jpg' %}" alt="">
            <img src="{% static 'img/r/r19.jpg' %}" alt="">
            <img src="{% static 'img/r/r20.jpg' %}" alt="">
            <img src="{% static 'img/r/r21.jpg' %}" alt="">
            <img src="{% static 'img/r/r1.jpg"' %}" alt="">
            <img src="{% static 'img/r/r2.jpg"' %}" alt="">
            <img src="{% static 'img/r/r3.jpg"' %}" alt="">
            <img src="{% static 'img/r/r4.jpg"' %}" alt="">
            <img src="{% static 'img/r/r5.jpg"' %}" alt="">
            <img src="{% static 'img/r/r6.jpg"' %}" alt="">
        </div>
    </div>
{% endblock content %}

